<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.eclipse.bpmn2.modeler.examples.customtask"
            class="org.eclipse.bpmn2.modeler.examples.customtask.MyModel.MyModelPackage"
            genModel="model/MyModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="bpmn"
            class="org.eclipse.bpmn2.modeler.examples.customtask.MyModel.util.MyModelResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="org.eclipse.bpmn2.modeler.examples.customtask.MyRuntimeExtension"
            description="BPMN2 Modeler Runtime Extension - reg_bas Example"
            id="org.eclipse.bpmn2.modeler.examples.customtask.runtime"
            name="Custom Task Example Runtime Exension - reg_bas">
      </runtime>
      <model
            resourceFactory="org.eclipse.bpmn2.modeler.examples.customtask.MyModel.util.MyModelResourceFactoryImpl"
            runtimeId="org.eclipse.bpmn2.modeler.examples.customtask.runtime"
            uri="http://org.eclipse.bpmn2.modeler.examples.customtask">
      </model>
      <customTask
            category="My Task"
            description="This is a Custom Task..."
            featureContainer="org.eclipse.bpmn2.modeler.examples.customtask.MyTaskFeatureContainer"
            icon="DQ-Flag.png"
            id="org.eclipse.bpmn2.modeler.examples.customtask.customTask1"
            name="My Task"
            propertyTabs="org.eclipse.bpmn2.modeler.examples.customtask.mytask.tab"
            runtimeId="org.eclipse.bpmn2.modeler.examples.customtask.runtime"
            type="Task">
         <property
               name="type"
               value="MyTask">
         </property>
      <property name="extensionValues">
  				<value>
  					<property name="taskConfig">
  						<value>
		  					<property name="parameters">
		  						<value>
  									<property name="name" value="taskName"/>
  									<property name="value" value="My Custom Task"/>
								</value>
							</property>
		  					<property name="parameters">
		  						<value>
  									<property name="name" value="processingTime"/>
  									<property name="value" value="1hr"/>
								</value>
							</property>
						</value>
					</property>
				</value>
			</property>
		</customTask>
		<propertyTab
				class="default"
				features="extensionValues#TaskConfig.parameters"
				id="org.eclipse.bpmn2.modeler.examples.customtask.mytask.tab"
				label="MyTask"
				runtimeId="org.eclipse.bpmn2.modeler.examples.customtask.runtime">
		</propertyTab>
		<modelEnablement
		profile="org.eclipse.bpmn2.modeler.examples.customtask.modelEnablement1"
				runtimeId="org.eclipse.bpmn2.modeler.examples.customtask.runtime"
				type="Process">
				<disable object="all"/>
				
				<enable object="default" feature="Process"/>
				<enable object="Task" feature="taskConfig"/>
				<enable object="TaskConfig"/>
				<enable object="Parameter"/>
		</modelEnablement>

   </extension>

</plugin>
